.aboutSection {
  position: relative;
  /* margin-left: 30rem; */
  left: 150px;
  top: 10rem;
  width: calc(100% - 160px);
  text-align: center;
  color: whitesmoke;
}

.aboutMeIntro {
}

.aboutMe {
  display: flex;
  flex-direction: row;
  margin: 10rem 0 0 10rem;
}

.image {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  background-image: url("../../assets/images/HernandezElvis.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.description {
  margin-left: 15rem;
  width: 50rem;
  height: 20rem;
  background: whitesmoke;
  border-radius: 10px;
}
