
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    /* display: flex; */
    /* flex-direction: column;  */
    /* background: rgb(14, 13, 13); */
    /* align-items: center; */
    text-align: center;
}