
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background: #1e1d1d;
    /* height: 100%; */
    width: 100vw 
}

main {
    /* display: flex; */
    /* flex-direction: column;  */
    /* background: rgb(14, 13, 13); */
    /* align-items: center; */
    /* text-align: center; */
    background: #1e1d1d;
    height: 100%;
    width: 100vw
}

#root {
    background: #1e1d1d;
    height: 100%;
}

