.home {
    height: 500px;
    width: 100vw;
    background-color: #23153C;
}

.particlesJs {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0; */
    height: 100vh;
    width: 100vw;
    background: black;
}

.intro {
    display: inline-block;
    font-size: 3rem;
    color: whitesmoke;
    position: absolute;
    align-content: center;
}

.name {
    color:#00FFFF;
}
