.home {
    height: 500px;
    width: 100vw;
    background-color: #23153C;
}

.particlesJs {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0;
    color: white;
    height: 500px;
    width: 100vw;
    background: #23153C;
}