.home {
    height: 500px;
    width: 100vw;
    background-color: #23153C;
}

.particlesJs {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0; */
    height: 500px;
    width: 100vw;
    background: #23153C;
}

.intro {
    display: inline-block;
    color: white;
    position: fixed;
    align-content: center;
}
