input {
  border-radius: 5px;
}

.contactSection {
  margin-top: 10rem;
}

.contact {
  margin-bottom: 4rem;
}

.name,
.email,
.textArea {
  width: 30rem;
}

.name:focus,
.email:focus,
.textArea:focus {
  border-color: #228b22;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
    0px 0px 8px rgba(0, 255, 42, 0.5);
}

@media (max-width: 600px) {
  .name,
  .email,
  .textArea {
    width: 20rem;
  }
}
