

.projectContainer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* flex-direction: row;
    justify-content: center;
    align-items: flex-end; */
    /* padding-bottom: 10rem; */
    position: relative;
    bottom: 10rem;
    height: 20rem;
    width: 30rem;
    border-radius: 15px;
    background: whitesmoke;
    border: 2px solid green;    
    transition: 1s;
    background-image: url('../../assets/images/SoftSearch.png');
    background-repeat: no-repeat;
    background-size: 30rem 20rem;
}

.project1Text {
    display: none    
}


.projectContainer:hover {
    color: whitesmoke;
    background-color: #1e1d1d;
    background-image: none;
    /* background-image: url('../../assets/images/react.png'); */
}

.projectContainer:hover button,
.projectContainer:hover p  {
    font-weight: bold;
    display: inline;
}

a { 
    text-decoration: none;
    color: whitesmoke
}
button:hover a {
    color: #228B22
}

