

.projectsContainer {
    text-align: center;
    padding-top: 10rem;
}

.projectsIntro {
    height: 30rem;
    color: whitesmoke;
    /* margin-top: 3.1rem; */
    margin-top: 40rem;
    padding-top: 3rem;
    padding-left: 140px;
    border-radius: 10px;
    background: #1f6b1f;
    width: 100vw
}

/* .projects {
    display: inline-block;
    position: relative;
    bottom: 10rem;
    left: 80px;
    border: 2px solid green;
    border-radius: 10px;
    background: whitesmoke;
    height: 40rem;
    width: 50rem;
} */

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 160px;
    /* width: 100vw; */
    /* padding-bottom: 10rem; */
}

.project {
    display: inline-block;
    /* padding-bottom: 10rem; */
    position: relative;
    bottom: 10rem;
    height: 20rem;
    width: auto;
    /* transform: scale(0.3); */
    border-radius: 15px;
    background: whitesmoke;
}

/* .project1 {
    background-image: url('../../assets/images/SoftSearch.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.project2 {
    background-image: url('../../assets/images/AirAware.png');
} */