

.projectsContainer {
    text-align: center;
    padding-top: 10rem;
}

.projectsIntro {
    height: 30rem;
    color: whitesmoke;
    /* margin-top: 3.1rem; */
    margin-top: 40rem;
    padding-top: 3rem;
    padding-left: 140px;
    border-radius: 10px;
    background: #1f6b1f;
    width: 100vw
}

/* .projects {
    display: inline-block;
    position: relative;
    bottom: 10rem;
    left: 80px;
    border: 2px solid green;
    border-radius: 10px;
    background: whitesmoke;
    height: 40rem;
    width: 50rem;
} */

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 160px;
    /* padding-bottom: 10rem; */
}

.project1, .project2 {
    /* display: inline-block; */
    /* padding-bottom: 10rem; */
    position: relative;
    bottom: 10rem;
    height: 30rem;
    width: 30rem;
    border-radius: 15px;
    background: whitesmoke;
}