

.projectsContainer {
    text-align: center;
    padding-top: 10rem;
}

.projectsIntro {
    height: 30rem;
    color: whitesmoke;
    /* margin-top: 3.1rem; */
    margin-top: 40rem;
    padding-top: 3rem;
    padding-left: 140px;
    border-radius: 10px;
    background: #1f6b1f;
    width: 100vw
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 160px;
    /* width: 100vw; */
    /* padding-bottom: 10rem; */
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    /* padding-bottom: 10rem; */
    position: relative;
    bottom: 10rem;
    height: 20rem;
    width: 30rem;
    border-radius: 15px;
    background: whitesmoke;
    border: 2px solid green;    
    transition: 1s;
}

.project1 {
    background-image: url('../../assets/images/SoftSearch.png');
    background-repeat: no-repeat;
    background-size: 30rem 20rem;
}

.project2 {
    background-image: url('../../assets/images/AirAware.png');
    background-repeat: no-repeat;
    background-size: 30rem 20rem;
}

.project:hover {
    background-color: #1e1d1d;
    background-image: none;
    /* background-image: url('../../assets/images/react.png'); */
    border: 10px solid red;
}

.project:hover .projectButton {
    display: inline;
}

.projectButton {
    /* display: none; */
    width: 10rem;
}

.codeButton {
    width: 10rem;
}
