

.body {
    /* padding-top: 4rem; */
    /* position: relative; */
    left: 80px;
    height: 50rem;
    text-align: center;
}

.heading {
    /* position: relative; */
    left: 80px;
    color: whitesmoke;
}

.skillsIntro {
    height: 40rem;
    background: #1f6b1f;
}

.skills {
    display: inline-block;
    position: relative;
    bottom: 10rem;
    left: 80px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    background: #1e1d1d;
    height: 40rem;
    width: 50rem;
}