

.drawer {
    text-align: center;
}

.links {
    text-decoration: none;
}

.javascript {
    margin-top: 13rem;
    height: 4rem;
    width: 4rem;
}

@media (max-width: 600px) {
    .javascript {
        margin-top: 10rem
    }
}